
{% assign frontcolor=settings.primary_color%}
{% assign backcolor=settings.secondary_color%}
<div id="top-anouncement" style="color: {{frontcolor}}; background: {{backcolor}}">{{section.settings.top_anouncement_product}}</div>
{%schema%}
    {
        "name": "Top Product Anouncement",
        "settings": [
        {
            "label": "Product Anouncement",
            "id": "top_anouncement_product",
            "type": "text",
            "default": "we're still shipping: delivered in 4-6 business days."
        }
        ]
    }
{%endschema%}

{% stylesheet %}
#top-anouncement{
    text-align: center;
    padding-top: 8px;
    font-family: LL Brown Regular Web;
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    left: 0;
    letter-spacing: 1.3px;
    line-height: 1em;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12000;
    text-transform: uppercase;
}
{% endstylesheet %}
