// put your styles here
$secondary-color: #E69E6C;
$primary-color: #AAA8B1;
$terciary-color: #736561;
.secondary-back-ground {
    background: $secondary-color;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    background: #FCF8EF;
    font-family: L Brown Regular Web,Brown,Helvetica,Arial,sans-serif;
}